/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
.footer-child,
.footer-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 209.3px;
  height: 209.9px;
  object-fit: cover;
}

.footer-item {
  top: 197px;
  left: 191px;
  width: 766.5px;
  height: 273.9px;
  object-fit: contain;
  z-index: 1;
}

.footer {
  height: 470.9px;
  flex: 1;
  position: relative;
  max-width: calc(100% - 94px);
}



/* Other Selectors */
.group-icon,
.group-icon1,
.group-icon3,
.group-icon7,
.group-icon9,
.group-icon13,
.group-icon17,
.group-icon19,
.group-icon25 {
  width: 48.5px;
  height: 51.6px;
  position: relative;
}

.group-icon1,
.group-icon14 {
  height: 52.2px;
}

.rotate-anti-clock-90{
  transform: rotate(-90deg);
}

.group-icon2,
.group-icon4,
.group-icon5,
.group-icon6,
.group-icon8,
.group-icon10,
.group-icon12,
.group-icon15,
.group-icon16,
.group-icon21,
.group-icon22,
.group-icon23,
.group-icon24,
.group-icon26,
.group-icon27,
.group-icon28,
.group-icon29,
.group-icon30,
.group-icon31,
.group-icon32,
.group-icon33 {
  align-self: stretch;
  height: 40.5px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.group-icon4,
.group-icon5,
.group-icon6,
.group-icon12,
.group-icon27,
.group-icon28 {
  height: 33.9px;
}

.group-icon6,
.group-icon23 {
  height: 11.6px;
}

.group-icon7,
.group-icon10,
.group-icon14 {
  height: 43.8px;
}

.group-icon9,
.group-icon20,
.group-icon30 {
  height: 49.3px;
}

.group-icon11,
.group-icon21,
.group-icon22 {
  height: 11.6px;
}

/* Adjustments for specific screen sizes */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .overlay {
    padding-left: 29px;
    padding-right: 29px;
  }
  .container {
    gap: 34px;
  }
}

@media screen and (max-width: 1536px) and (max-height: 730px) {
  .overlay {
    width: 80vw;

    margin: 10vh 0 10vh 15vw;
    margin-left: 15vw;
    margin-bottom: 10vh;
  }
  .container {
    gap: 34px;
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1150px) {
  .overlay {
    padding-left: 29px;
    padding-right: 29px;
  }
  .container {
    gap: 34px;
  }
}

@media screen and (max-width: 1050px) {
  .image-container-inner {
    flex: 1;
  }
  .image-container,
  .rows {
    flex-wrap: wrap;
  }
}

.background {
  padding: 15vh 10vh;
}

.tabs{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-container-inner {
  padding-left: 10vw;
}
.column-container-inner{
  display: flex;
  flex-direction: row-reverse;
}
.icon{
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.frame-child{
  width: 50vw;
}

.rows{
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.frame-item{
  height: 50vh;
}
.frame-inner{
  width: 80vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: 12vw;
  
}

@media screen and (max-width: 750px) {
  .background {
    padding-top: 50px;
  }
  .sidebar {
    gap: 23px;
    padding-bottom: 67px;
  }
  .column-container {
    gap: 124px;
    min-width: 100%;
  }
  .background-image {
    flex-wrap: wrap;
  }
  .container {
    gap: 17px;
  }
  .header-parent {
    gap: 41px;
  }
}

@media screen and (max-width: 450px) {
  .image-container-inner {
    padding-top: 32px;
  }
  .column-container {
    gap: 62px;
  }
  .header-parent {
    gap: 20px;
  }
}

.input-field1, .highlighted-tab, .badge, .frame-child2{
  width: 80vw;
  margin-left: 8vw;
  margin: 10vh 0 10vh 8vw;
}

.input-field1> img, .highlighted-tab> img, .badge>img {
  width: 80vw;
 }

 .navigation-link, .border {
  display: flex;
  flex-direction: row;
 }

 .border-child {
  height: 30vh;
 }
 .clip-path-group1 {
  height: 70vh;
 }


 .main-content-wrapper {
  display: flex;
  flex-direction: column;
 }

 .border {
  justify-content: space-around;
  align-items: end;
  gap: 10vw;
 }

 .navigation-link {
  gap: 10vw ;
 }

 .main-content-wrapper > img {
  width: 5vw;
 }

 .background-image>img {
   width: 10vw;
   height: 20vh;

 }
 .image-container1>img {
   width: 10vw;
   height: 20vh;

 }

 .container-with-content {
  display: flex;
  flex-direction: column;
  gap:5vh
 }

 .container-with-content-inner {
  align-self: center;
 }

 .image-container-wrapper {
  align-self: end;
 }